* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1425px) {
    div.nav_container {
        width: 95%;
    }
    nav.nav {
        width: 65%;
    }
    div.logo {
        width: 35%;
    }
    div.logo > a > img {
        width: 200px;
    }
    ul.nav_bar {
        display: flex;
        width: 100%;
    }
    button.hamburger {
        display: none;
    }
    div.hamburger {
        display: none;
    }

    div.brewery_tour_1 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_1 {
        width: 50%;
    }
    div.brewery_content_1 {
        margin-left: 50px;
        width: 50%;
    }
    div.brewery_tour_2 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_2 {
        width: 50%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 50%;
        margin-right: 50px;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_3 {
        width: 50%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 50%;
        margin-left: 50px;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_4 {
        width: 50%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
    }
    div.brewery_content_4 {
        width: 50%;
        margin-right: 50px;
    }
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 400px;
    }
    div.footer_bac_pic > img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1424px) {
    div.nav_container {
        width: 95%;
    }
    nav.nav {
        width: 65%;
    }
    div.logo {
        width: 35%;
    }
    div.logo > a > img {
        width: 200px;
    }
    ul.nav_bar {
        display: flex;
        width: 100%;
    }
    button.hamburger {
        display: none;
    }
    div.hamburger {
        display: none;
    }
    div.brewery_tour_1 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_1 {
        width: 50%;
    }
    div.brewery_content_1 {
        margin-left: 50px;
        width: 50%;
    }
    div.brewery_tour_2 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_2 {
        width: 50%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 50%;
        margin-right: 50px;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_3 {
        width: 50%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 50%;
        margin-left: 50px;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_4 {
        width: 50%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
    }
    div.brewery_content_4 {
        width: 50%;
        margin-right: 50px;
    }
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 400px;
    }
    div.footer_bac_pic > img {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.brewery_tour_1 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_1 {
        width: 50%;
    }
    div.brewery_content_1 {
        margin-left: 50px;
        width: 50%;
    }
    div.brewery_tour_2 {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }
    div.brewery_pic_2 {
        width: 50%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 50%;
        margin-right: 50px;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_3 {
        width: 50%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 50%;
        margin-left: 50px;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        justify-content: space-between;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_4 {
        width: 50%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
    }
    div.brewery_content_4 {
        width: 50%;
        margin-right: 50px;
    }
    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }

    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 300px;
    }
    div.footer_bac_pic > img {
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.brewery_tour_1 {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    div.brewery_pic_1 {
        width: 100%;
    }
    div.brewery_content_1 {
        width: 100%;
    }
    div.brewery_tour_2 {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_2 {
        width: 50%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 100%;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_3 {
        width: 50%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 100%;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_4 {
        width: 50%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
    }
    div.brewery_content_4 {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;

    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.brewery_tour_1 {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    div.brewery_pic_1 {
        width: 100%;
    }
    div.brewery_content_1 {
        width: 100%;
    }
    div.brewery_tour_2 {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_2 {
        width: 100%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 100%;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_3 {
        width: 100%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 100%;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_4 {
        width: 100%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
        width: 100%;
    }
    div.brewery_content_4 {
        width: 100%;
    }
    .hover-table-layout {
        flex-direction: column;
    }
    .hover-table-layout {
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        width: 100%;
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;

    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width: 575px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }

    div.brewery_tour_1 {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    div.brewery_pic_1 {
        width: 100%;
    }
    div.brewery_content_1 {
        width: 100%;
    }
    div.brewery_tour_2 {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    div.brewery_pic_2 {
        width: 100%;
    }
    div.brewery_pic_2 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_2 {
        width: 100%;
    }
    div.brewery_tour_3 {
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_3 {
        width: 100%;
    }
    div.brewery_pic_3 > img {
        width: 100%;
        padding: 30px 0;
    }
    div.brewery_content_3 {
        width: 100%;
    }
    div.brewery_tour_4 {
        display: flex;
        width: 95%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 60px;
    }
    div.brewery_pic_4 {
        width: 100%;
    }
    div.brewery_pic_4 > img {
        padding: 30px 0;
        width: 100%;
    }
    div.brewery_content_4 {
        width: 100%;
    }
    .hover-table-layout {
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        height: 40%;
        padding: 10px;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;

        /* border-top: 1px solid rgba(255, 255, 255, 0.212); */
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.212); */
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
/*logo & nav*/
header {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    /* min-width: 1300px; */
    /* height: 70px; */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    justify-content: center;
}

div.nav_container {
    /* border: 1px solid green; */
    /* display: flex; */
    /* width: 95%; */
    height: 70px;
    position: relative;
    background-color: #fff;
}

div.logo {
    /* border: 1px solid black; */
    display: flex;
    font-size: 28px;
    /* -webkit-text-stroke: 3px white; */
    font-size: 24px;
    position: relative;
    /* width: 35%; */
    height: 70px;
    background-color: transparent;
    /* justify-content: center; */
    align-items: flex-end;
}

div.logo > a > img {
    /* border: 1px solid red; */
    width: 200px;
}

nav.nav {
    /* border: 1px solid black; */
    /* display: flex; */
    /* width: 65%; */
    height: 70px;
    position: absolute;
    right: 0;
    z-index: 3;
    background-color: transparent;
    top: 0;
}

nav.nav > ul.nav_bar {
    /* border: 1px solid springgreen; */
    list-style: none;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 70px;
    /* top: 35px; */
    /* left: 20px; */
    background-color: transparent;
}

.nav_bar > li {
    /* border: 1px solid indigo; */
    /* display: flex; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 32px;
    height: 40px;
    width: auto;
    background-color: transparent;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    vertical-align: text-bottom;
}

.nav_bar > li > a {
    text-decoration: none;
    /* color: #22201f; */
    color: #22201f;
    /* -webkit-text-stroke: 3px white; */
    text-align: center;
    background-color: transparent;
}

.nav_bar > li > a.brewery {
    color: #60a41d;
}

.hamburger {
    padding: 15px 15px 0;
    transition: all 2s ease 2s;
}

div.hamburger {
    /* border: 1px solid red; */
    width: 200px;
    /* display: flex; */
    /* justify-content: flex-end; */
    transition: all 0.5s;
    position: absolute;
    right: -70px;
    top: 70px;
}

div.hamburger > .nav_bar {
    /* border: 1px solid springgreen; */
    list-style: none;
    position: relative;
    width: 200px;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 70px; */
    top: -20px;
    right: -15px;
    background-color: rgba(255, 255, 255);
    transition: all 1s;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #22201f;
}

/*UIKIT*/
.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: transparent;
}
* + .uk-margin {
    margin: 0 !important;
}
a:hover {
    color: #60a41d;
    text-decoration: none;
}
.uk-link,
a {
    color: #22201f;
}

/*main*/
main {
    width: 100%;
    /* min-width: 1300px; */
}
div.brewery_container {
    width: 100%;
    /* min-width: 1200px; */
    height: fit-content;
    /* border: 1px solid rgb(192, 115, 192); */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

div.brewery_title_container {
    display: flex;
    width: 95%;
    /* border: 1px solid palegreen; */
    top: 30px;
    position: relative;
}
div.brewery_title {
    /* border: 1px solid slateblue; */
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    /* position: fixed; */
    /* z-index: 90; */
}

div.brewery_title > h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 48px;
}

div.brewery_qs_container {
    /* border: 1px solid red; */
    position: relative;
    top: 30px;
    width: 95%;
}
div.brewery_qs_title {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}
div.brewery_qs1 > h3 {
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 36px;
}
div.brewery_qs2 {
    /* border: 1px solid rgb(121, 114, 20); */
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
div.brewery_qs2 > h3 {
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 36px;
    display: flex;
}

div.brewery_tour_container {
    /* border: 1px solid rgb(43, 41, 38); */
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* div.brewery_tour_1 {
    border: 1px solid gold;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
} */
/* div.brewery_pic_1 {
    border: 1px solid hotpink;
    width: 50%;
} */
div.brewery_pic_1 > img {
    width: 100%;
    padding: 0 0 30px;
    display: flex;
    justify-self: center;
}

div.brewery_content_1 {
    /* border: 1px solid royalblue; */
    background-color: #60a41dd3;
    /* width: 50%; */
    display: flex;
    align-self: center;
    flex-direction: column;
}
div.brewery_content_1 > h3 {
    font-family: "Montserrat", sans-serif;
    color: #22201f;
    font-weight: 900;
    font-size: 36px;
    padding-left: 10px;
}
div.brewery_content_1 > p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
}
/* div.brewery_tour_2 {
    border: 1px solid rgb(113, 82, 224);
    display: flex;
    width: 95%;
    justify-content: space-between;
} */
/* div.brewery_pic_2 {
    border: 1px solid rgb(97, 13, 55);
    width: auto;
} */
/* div.brewery_pic_2 > img {
    width: 550px;
    padding: 30px 0;
} */
div.brewery_content_2 {
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #60a41dd3;
    /* width: 60%; */
    display: flex;
    align-self: center;
    flex-direction: column;
    /* margin-right: 50px; */
}
div.brewery_content_2 > h3 {
    font-family: "Montserrat", sans-serif;
    color: #22201f;
    padding-left: 10px;
    font-weight: 900;
    font-size: 36px;
}
div.brewery_content_2 > p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
}

/* div.brewery_tour_3 {
    border: 1px solid rgb(19, 143, 30);
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: relative;
    top: 30px;
} */
/* div.brewery_pic_3 {
    border: 1px solid rgb(104, 115, 145);
    width: 40%;
} */
div.brewery_pic_3 > img {
    /* width: 550px; */
    padding: 30px 0;
}
div.brewery_content_3 {
    /* border: 1px solid rgb(7, 37, 44); */
    background-color: #60a41dd3;
    /* width: 60%; */
    display: flex;
    align-self: center;
    flex-direction: column;
    /* margin-left: 50px; */
}
div.brewery_content_3 > h3 {
    font-family: "Montserrat", sans-serif;
    color: #22201f;
    padding-left: 10px;
    font-weight: 900;
    font-size: 36px;
}
div.brewery_content_3 > p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
}
/* div.brewery_tour_4 { */
/* border: 1px solid rgb(19, 143, 30); */
/* display: flex;
    width: 95%;
    justify-content: space-between;
} */
/* div.brewery_pic_4 {
    /* border: 1px solid rgb(24, 74, 209); */
/* width: 50%; */
/* } */
/* div.brewery_pic_4 > img { */
/* width: 550px; */
/* padding: 30px 0; */
/* }  */
div.brewery_content_4 {
    /* border: 1px solid rgb(7, 37, 44); */
    background-color: #60a41dd3;
    display: flex;
    align-self: center;
    flex-direction: column;
}
div.brewery_content_4 > h3 {
    font-family: "Montserrat", sans-serif;
    color: #22201f;
    padding-left: 10px;
    font-weight: 900;
    font-size: 36px;
}
div.brewery_content_4 > p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
}

/* div.book_tour_container {
    border: 1px solid red;
    position: relative;
    top: 90px;
} */

/*uikit*/
/* form {
    border: 1px solid saddlebrown;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
}
fieldset.uk-fieldset {
    border: 1px solid fuchsia;
    width: 95%;
} */

/*pricing*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
#title {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;
}
.hover-table-layout {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
.listing-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    background: #fff;
    border-radius: 10px;
    z-index: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.listing-item:hover,
.listing-item.active {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
}
.listing-item .listing {
    padding: 20px;
    position: relative;
}
.listing-item .listing:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -o-calc(50% - 15px);
    left: -moz-calc(50% - 15px);
    left: -webkit-calc(50% - 15px);
    left: calc(50% - 15px);
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
figure.image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figure.image {
    position: relative;
    margin: 0;
    padding: 0;
}
figure.image figcaption {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
figcaption .caption {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
figcaption h4 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
}
figcaption p {
    color: white;
    font-size: 18px;
    /* font-weight: 700; */
    font-family: "Montserrat", sans-serif;
}
.listing h4 {
    font-size: 16px;
    text-align: center;
    padding: 5px 10px;
    /* font-weight: bold; */
    font-family: "Montserrat", sans-serif;
}
.listing h4:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.listing-item:hover figure.image figcaption {
    background: #60a41d91;
}
@media only screen and (min-width: 767px) {
    .listing-item {
        display: block;
        width: -webkit-calc(100%/3);
        width: -moz-calc(100%/3);
        width: calc(100% / 3);
    }
}
@media only screen and (min-width: 1024px) {
    .hover-table-layout {
        padding: 30px;
    }
}
a:hover {
    color: #60a41d;
    text-decoration: none;
}

.uk-link,
a {
    color: #22201f;
}

/*footer*/
footer {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    /* min-width: 1300px; */
    /* display: flex; */
    position: relative;
    /* height: 400px; */
    top: 250px;
    z-index: 1;
    color: white;
}

div.footer_openhour_container {
    /* border: 1px solid greenyellow; */
    /* width: 33%; */
    display: flex;
    flex-direction: column;
}

div.openhour_title {
    /* border: 1px solid turquoise; */
    width: 100%;
    /* height: 45%; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

div.openhour_title > h6 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

div.openhour {
    /* border: 1px solid pink; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* height: 55%; */
}

div.footer_middle {
    /* border: 1px solid orangered; */
    /* width: 34%; */
    display: flex;
    flex-direction: column;
    /* height: 400px; */
}

div.footer_slogan_container {
    /* border: 1px solid rgb(30, 27, 212); */
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

div.footer_slogan_container > h4 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    color: #ffffff;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

div.footer_media_container {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    /* align-items: flex-end; */
    /* vertical-align: text-bottom; */
    height: auto;
}

div.fb_icon,
div.twi_icon,
div.ig_icon,
div.yt_icon,
div.pin_icon {
    /* border: 1px solid wheat; */
    height: auto;
    width: auto;
}

div.fb_icon > img,
div.twi_icon > img,
div.ig_icon > img,
div.yt_icon > img,
div.pin_icon > img {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

div.footer_bac_container {
    /* border: 1px solid paleturquoise; */
    /* width: 33%; */
    /* height: 100%; */
    display: flex;
    align-self: center;
}

div.footer_bac_pic {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

div.footer_bac_pic > img {
    /* border: 1px solid paleturquoise; */
    width: 50%;
    height: auto;
}
