* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1200px) {
    .beer_bg_img {
        width: 50%;
        height: 860px;
    }
    .align {
        justify-content: space-around;
        align-items: center;
    }
    .promoTitle {
        width: 400px;
        order: 1;
    }
    .promoInfo {
        width: 400px;
    }
    .promoInfo h2{
        font-size: 67px;
    }
    .promoPic img {
        height: 600px;
    }
    .details {
        height: 500px;
    }
    .quote {
        height: 350px;
    }
    .ingredient {
        height: 650px;
    }
    .ingredient_container {
        width: 100%;
        height: 70%;
    }
    .ingredient_individual {
        width: 30%;
        height: 80%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .img_container {
        width: 100%;
        height: 100%;
    }
    .img_container > img {
        height: 180px;
    }
    .ingredient_content {
        position: absolute;
        height: 20%;
        width: 100%;
        align-items: center;
    }
    .ingredient_content p{
        padding: 10px 50px;
    }
    div.middle {
        border-right: 1px solid #22201f56;
        border-left: 1px solid #22201f56;
    }

    .recommendation {
        height: 500px;
    }
    .recommend_pics {
    }
    .recommend_pics > a > img{
        height: 280px;
    }
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    .openhour_date {
        width: 60%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 400px;
    }
    div.footer_bac_pic > img {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .beer_bg_img {
        width: 50%;
        height: 860px;
    }
    .align {
        justify-content: space-around;
        align-items: center;
    }
    .promoTitle {
        width: 300px;
        order: 1;
    }
    .promoInfo {
        width: 300px;
    }
    .promoInfo h2{
        font-size: 50px;
    }
    .promoPic img {
        height: 600px;
    }
    .details {
        height: 500px;
    }
    .quote {
        height: 350px;
    }
    .ingredient {
        height: 650px;
    }
    .ingredient_container {
        width: 100%;
        height: 70%;
    }
    .ingredient_individual {
        width: 30%;
        height: 80%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .img_container {
        width: 100%;
        height: 100%;
    }
    .img_container > img {
        height: 180px;
    }
    .ingredient_content {
        position: absolute;
        height: 20%;
        width: 100%;
        align-items: center;
    }
    .ingredient_content p{
        padding: 10px 50px;
    }
    div.middle {
        border-right: 1px solid #22201f56;
        border-left: 1px solid #22201f56;
    }
    .recommendation {
        height: 500px;
    }
    .recommend_pics {
    }
    .recommend_pics > a > img{
        height: 240px;
    }
    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    .openhour_date {
        width: 60%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 300px;
    }
    div.footer_bac_pic > img {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }
    .beerInfo {
        top: 0px;
        height: 1000px;
    }
    .beer_bg_img {
        width: 100%;
        height: 1200px;
    }
    .align {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        top: 60px;
    }
    .promoTitle {
        width: 400px;
        order: 3;
    }
    .promoInfo {
        width: 400px;
        order: 2;
    }
    .promoInfo h2{
        font-size: 67px;
    }
    .promoPic {
        display: block;
        justify-content: center;
        text-align: center;
        order: 1;
    }
    .promoPic img {
        height: 400px;
        display: flex;
    }
    .details {
        top: 200px;
    }
    .quote {
        height: 350px;
        }
    .ingredient {
        top: 200px;
        height: 850px;
    }
    .ingredient_container {
        width: 80%;
        height: 850px;
        flex-direction: row;
    }
    .ingredient_individual {
        width: 100%;
        height: 30%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .img_container {
        width: 30%;
    }
    .img_container > img {
        height: 180px;
    }
    .ingredient_content {
        width: 50%;
        height: 180px;
        position: relative;
    }
    .ingredient_content p{
        display: flex;
        padding: 10px 20px;
        /* justify-content: flex-start; */
    }
    div.middle {
        border-top: 1px solid #22201f56;
        border-bottom: 1px solid #22201f56;
    }
    .words {
        display: none;
    }
    .recommendation {
        height: 800px;
        top: 200px;
    }
    .recommend_pics {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .recommend_pics > a > img{
        height: 320px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 300px;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    .openhour_date {
        width: 60%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }
    .beerInfo {
        top: 0px;
        height: 1000px;

    }
    .beer_bg_img {
        width: 100%;
        height: 1200px;
    }
    .align {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        top: 60px;
    }
    .promoTitle {
        width: 400px;
        order: 3;
    }
    .promoInfo {
        width: 400px;
        order: 2;
    }
    .promoInfo h2{
        font-size: 67px;
    }
    .promoPic {
        display: block;
        justify-content: center;
        text-align: center;
        order: 1;
    }
    .promoPic img {
        height: 400px;
        display: flex;
    }
    .details {
        top: 200px;
        height: 550px;

    }
    .quote {
        height: 550px;
    }
    .ingredient {
        top: 200px;
        height: 850px;
    }
    .ingredient_container {
        width: 80%;
        height: 300px;
        flex-direction: row;
    }
    .ingredient_individual {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .img_container {
        width: 30%;
        /* height: 100%; */
    }
    .img_container > img {
        height: 150px;
    }
    .ingredient_content {
        width: 60%;
        position: relative;
        padding: 20px 50px;
    }
    div.middle {
        border-top: 1px solid #22201f56;
        border-bottom: 1px solid #22201f56;
    }
    .words {
        display: none;
    }
    .recommendation {
        height: 800px;
        top: 200px;
    }
    .recommend_pics {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .recommend_pics > a > img{
        height: 200px;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        align-items: center;
        /* top: 300px; */
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    .openhour_date {
        width: 60%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width: 575px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }
    .beerInfo {
        top: 0px;
        height: 1000px;

    }
    .beer_bg_img {
        width: 100%;
        height: 1200px;
    }
    .align {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        top: 60px;
    }
    .promoTitle {
        width: 100%;
        order: 3;
    }
    .promoInfo {
        width: 100%;
        order: 2;
    }
    .promoInfo h2{
        font-size: 50px;
    }
    .promoPic {
        display: block;
        justify-content: center;
        text-align: center;
        order: 1;
    }
    .promoPic img {
        height: 400px;
        display: flex;
    }
    .details {
        top: 200px;
        height: 720px;
    }
    .quote {
        height: 100%;
    }
    .ingredient {
        top: 200px;
        height: 700px;
    }
    .ingredient_container {
        width: 80%;
        height: 300px;
        flex-direction: row;
    }
    .ingredient_individual {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .img_container {
        width: 30%;
        /* height: 100%; */
    }
    .img_container > img {
        height: 100px;
    }
    .ingredient_content {
        width: 60%;
        height: 130px;
        position: relative;
        padding: 20px 20px;
    }
    div.middle {
        border-top: 1px solid #22201f56;
        border-bottom: 1px solid #22201f56;
    }
    .words {
        display: none;
    }
    .recommendation {
        height: 800px;
        top: 200px;
    }
    .recommend_pics {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .recommend_pics > a > img{
        height: 200px;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        align-items: center;

    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}


/*logo & nav*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav {
    height: 90px;
    background: #60a41d;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.logo {
    /* border: 1px solid blue; */
    width: 30%;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.logo a {
    text-decoration: none;
}
.logo img {
    /* border: 1px solid red; */
    font-family: 'Modak', cursive;
    color: #60a41d;
    font-size: 70px;
    font-weight: 100;
    width: 200px;
    /* height: 8vh; */
    /* position: relative; */
    /* padding-top: 1vh; */
    -webkit-text-stroke: 3.5px #22201f;
    padding-left: 5%;
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}
.nav_links {
    /* border: 1px solid red; */
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-top: 5px;
}
.nav_links li a{
    /* border: 1px solid white; */
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 700;
}
.hamburger {
    width: 30px;
    height: 20px;
    position: relative;
}

/* main */
main {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    position: relative;
    top: 90px;
}
.beerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 860px;
    background-color: #77b329;
    background-position: 0;
    background-size: 50% 100%;
    position: relative;
}
.beer_bg_img {
    top: 0;
    position: absolute;
    background-image: url(../images/beers/IPALiquid.jpg);
    background-position: top center;
    background-size: cover;
} 
.container {
    /* border: 1px solid red; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.align {
    /* border: 1px solid red; */
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.promoPic {
    /* border: 1px solid yellow; */
    position: relative;
    /* display: block; */
    order: 1;
    margin-right: -15px;
    margin-left: -15px;
}
.promoPic img {
    vertical-align: middle;
    border-style: none;
}
.promoTitle {
    /* border: 1px solid purple; */
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.promoTitle h3{
    padding: 5px 15px;
}
.promoTitle p{
    padding: 0.3em 1em 1em;
}
.info {
    float: left;
    width: 50%;
}
.promoInfo {
    /* border: 1px solid rgb(49, 216, 99); */
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}
.promoInfo h4{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
}
.promoInfo h2{
    font-weight: 700;
    color: #22201f;
}
.promoInfo p{
    font-size: 16px;
}

.SVGContainer{
    /* border: 1px solid orange; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    padding: 15px;
    width: 100%;
}
.bottle {
    margin-right: 30px;
    text-align: center;

}
.bottleSVG {
    /* border: 1px solid orange; */
    position: relative;
    width: 31px;
    height: 117px;
}
.draftSVG {
    /* border: 1px solid orange; */
    position: relative;
    width: 49px;
    height: 96px;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.beerShape {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}
.beerSize {
    min-height: 20px;
    font-size: 12px;
    padding: 5px 0;
}

/* quote  */
.details {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.quote {
    width: 60%;
    /* height: 350px; */
    background: #fcbe07;
    color: #22201f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.content h4 {
    line-height: 10px;
    font-size: 1.5rem;
}
.content p {
    margin: 20px;
    font-size: 1.2rem;
}
.quote::before {
    content: '';
    position: absolute;
    bottom: -105px;
    transform: rotate(-10deg);
    width: 140%;
    height: 130px;
    background: white;
}
.quote::after {
    content: '';
    position: absolute;
    bottom: -105px;
    transform: rotate(10deg);
    width: 140%;
    height: 130px;
    background: white;
}
.content {
    transform: translateY(-35px);
    font-family: "Montserrat", sans-serif;
}

.quote i:nth-child(1){
    position: absolute;
    bottom: 75px;
    right: -15px;
}
.quote i:nth-child(2){
    position: absolute;
    top: -15px;
    left: -15px;
}

/* ingredient */
.ingredient {
    /* border: 1px solid red; */
    /* height: 650px; */
    background: #e9e3d5;
    position: relative;
    /* top: 20px; */
    text-align: center;
    display: flex;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    align-items: center;
}
.ingredient_container {
    /* border: 1px solid rgb(0, 255, 55); */
    /* width: 100%; */
    /* height: 70%; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ingredient_individual {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: center; */
    /* margin-right: -15px;
    margin-left: -15px; */
    position: relative;

    /* height: 200px; */
    padding: 50px 30px;
}


.ingredient_content {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p.middle {
    text-align: center;
}

.words {
    width: 50%;
    font-family: "Baloo Tamma 2", cursive;
    font-size: 20px;
    color: #22201f;
    /* position: absolute; */

}

/* recommendation */
.recommendation {
    /* border: 1px solid orange; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: relative;
}
.recommendation h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 30px;
}
.recommend_pics {
    /* border: 1px solid red; */
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend_pics > a > img{
    /* width: 20%;
    padding: 0 5px; */
    /* height: 250px; */
    padding: 5px;
}

/*footer*/
footer {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    position: relative;
    /* top: 250px; */
    z-index: 1;
    color: white;
}

div.footer_openhour_container {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
}

div.openhour_title {
    /* border: 1px solid turquoise; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

div.openhour_title > h6 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
div.openhour {
    /* border: 1px solid pink; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.openhour_date {
    /* width: 60%; */
}

div.footer_middle {
    /* border: 1px solid orangered; */
    display: flex;
    flex-direction: column;
}

div.footer_slogan_container {
    /* border: 1px solid rgb(30, 27, 212); */
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

div.footer_slogan_container > h4 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    color: #ffffff;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

div.footer_media_container {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    height: auto;
}

.fa-facebook-f:hover,
.fa-twitter:hover, 
.fa-instagram:hover, 
.fa-youtube:hover,
.fa-pinterest-p:hover{
    color: #60a41d!important;
}

div.footer_bac_container {
    /* border: 1px solid paleturquoise; */
    display: flex;
    align-self: center;
}

div.footer_bac_pic {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

div.footer_bac_pic > img {
    /* border: 1px solid paleturquoise; */
    width: 50%;
    height: auto;
}