* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1200px) {
    div.nav_container,
    /* .beer_container, */
    footer {
        width: 95%;
    }
    nav.nav {
        width: 65%;
    }
    div.logo {
        width: 35%;
    }
    div.logo > a > img {
        width: 200px;
    }
    ul.nav_bar {
        display: flex;
        width: 100%;
    }
    button.hamburger {
        display: none;
    }
    div.hamburger {
        display: none;
    }
    div.product_pic {
        width: 450px;
        height: 504px;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }

    div.product_content {
        border: 1px solid teal;
        width: calc(100% - 460px);
        font-family: "Baloo Tamma 2", cursive;
        color: #22201f;
        font-weight: 900;
        position: relative;
        /* top: 100px; */
    }
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 400px;
    }
    div.footer_bac_pic > img {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.product_pic {
        width: 450px;
        height: 504px;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        border: 1px solid teal;
        width: calc(100% - 460px);
        font-family: "Baloo Tamma 2", cursive;
        color: #22201f;
        font-weight: 900;
        position: relative;
        /* top: 100px; */
    }
    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }

    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 300px;
    }
    div.footer_bac_pic > img {
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.product_container {
        width: 95%;
        flex-direction: column-reverse;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.product_container {
        width: 95%;
        flex-direction: column-reverse;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        width: 100%;
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width: 575px) {
    nav.nav {
        display: flex;
        justify-content: flex-end;
        width: calc(95% - 200px);
    }
    nav.nav > ul.nav_bar {
        display: none;
    }
    div.nav_container,
    footer {
        width: 95%;
    }
    div.nav {
        width: 80%;
    }
    div.hamburger {
        display: none;
        justify-content: flex-end;
        transform: translateX(100%);
    }
    div.is-active {
        display: flex;
        transform: translateX(-30%);
    }
    div.product_container {
        width: 95%;
        flex-direction: column-reverse;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 1000px; */
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        height: 40%;
        padding: 10px;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
/*logo & nav*/
header {
    /* border: 1px solid red; */
    display: flex;
    /* width: 100%; */
    /* min-width: 1300px; */
    /* height: 70px; */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    justify-content: center;
}

div.nav_container {
    /* border: 1px solid green; */
    /* display: flex; */
    /* width: 95%; */
    height: 70px;
    position: relative;
    background-color: #fff;
}

div.logo {
    /* border: 1px solid black; */
    display: flex;
    font-size: 28px;
    /* -webkit-text-stroke: 3px white; */
    font-size: 24px;
    position: relative;
    /* width: 35%; */
    height: 70px;
    background-color: transparent;
    /* justify-content: center; */
    align-items: flex-end;
}

div.logo > a > img {
    /* border: 1px solid red; */
    width: 200px;
}

nav.nav {
    /* border: 1px solid black; */
    /* display: flex; */
    /* width: 65%; */
    height: 70px;
    position: absolute;
    right: 0;
    z-index: 3;
    background-color: transparent;
    top: 0;
}

nav.nav > ul.nav_bar {
    border: 1px solid springgreen;
    list-style: none;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 70px;
    /* top: 35px; */
    /* left: 20px; */
    background-color: transparent;
}

.nav_bar > li {
    /* border: 1px solid indigo; */
    /* display: flex; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 32px;
    height: 40px;
    width: auto;
    background-color: transparent;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    vertical-align: text-bottom;
}

.nav_bar > li > a {
    text-decoration: none;
    /* color: #22201f; */
    color: #22201f;
    /* -webkit-text-stroke: 3px white; */
    text-align: center;
    background-color: transparent;
}

.nav_bar > li > a.shop {
    color: #60a41d;
}

.hamburger {
    /* border: 1px solid black; */
    padding: 15px 15px 0;
    /* transition: all 2s ease 2s; */
}

div.hamburger {
    /* border: 1px solid red; */
    width: 200px;
    /* display: flex; */
    /* justify-content: flex-end; */
    transition: all 0.5s;
    position: absolute;
    right: -70px;
    top: 70px;
}

div.hamburger > .nav_bar {
    /* border: 1px solid springgreen; */
    list-style: none;
    position: relative;
    width: 200px;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 70px; */
    top: -20px;
    right: -15px;
    background-color: rgba(255, 255, 255);
    transition: all 2s ease 2s;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #22201f;
}

/*main*/
section.product {
    /* border: 1px solid black; */
    position: relative;
    width: 100%;
    /* height: 650px; */
    top: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div.product_container {
    /* border: 1px solid salmon; */
    width: 95%;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
}
div.product_pic {
    border: 1px solid black;
    /* width: 450px; */
    /* height: 504px; */
}

div.product_pic > img {
    width: 100%;
    height: auto;
}

div.product_content {
    border: 1px solid teal;
    /* width: calc(100% - 460px); */
    font-family: "Baloo Tamma 2", cursive;
    color: #22201f;
    font-weight: 900;
}

div.product_title {
    border: 1px solid blue;
    /* height: 30%; */
    /* width: 50%; */
}

div.pri_title {
    border: 1px solid rgb(194, 138, 17);
    display: flex;
}
div.pri_title > h2 {
    border: 1px solid rgb(148, 136, 255);
    /* font-family: "Baloo Tamma 2", cursive; */
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 80px;
    color: #60a41d;
    /* margin: 0;
    padding: 0; */
    display: flex;
    /* position: relative; */
}

div.sub_title {
    border: 1px solid red;
    display: flex;
}
div.sub_title > p {
    font-family: "Montserrat", sans-serif;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 800;
    font-size: 24px;
    position: relative;
    margin-left: 3px;
}

div.product_describtion {
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 3px;
    /* height: 70%; */
}

div.product_info {
    border: 1px solid darkblue;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
div.product_style {
    border: 1px solid orange;
    width: 50%;
    display: flex;
    align-content: flex-end;
}
div.product_style > p {
    /* border: 1px solid orange; */
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

div.product_abv {
    /* border: 1px solid paleturquoise; */
    width: 50%;
    display: flex;
}
div.product_abv > p {
    /* border: 1px solid paleturquoise; */
    font-family: "Montserrat", sans-serif;
    color: #60a41d;
    font-weight: 600;
    font-size: 32px;
    display: flex;
}

div.product_detail {
    /* border: 1px solid yellowgreen; */
    width: fit-content;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 10px 10px 0 0;
    /* height: 40%; */
}
div.product_detail > p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

div.beer_btn {
    align-self: flex-start;
    justify-self: end;
    /* border: 1px solid #60a41d; */
}

div.beer_btn > input {
    border: 0;
    background-color: #60a41d;
    color: #ffffff;
    font-size: 16px;
    width: 200px;
    height: 30px;
    margin-top: 30px;
}

/*footer*/
footer {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    /* min-width: 1300px; */
    /* display: flex; */
    position: relative;
    /* height: 400px; */
    top: 100px;
    z-index: 1;
    color: white;
}

div.footer_openhour_container {
    /* border: 1px solid greenyellow; */
    /* width: 33%; */
    display: flex;
    flex-direction: column;
}

div.openhour_title {
    /* border: 1px solid turquoise; */
    width: 100%;
    /* height: 45%; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

div.openhour_title > h6 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

div.openhour {
    /* border: 1px solid pink; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* height: 55%; */
}

div.footer_middle {
    /* border: 1px solid orangered; */
    /* width: 34%; */
    display: flex;
    flex-direction: column;
    /* height: 400px; */
}

div.footer_slogan_container {
    /* border: 1px solid rgb(30, 27, 212); */
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

div.footer_slogan_container > h4 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    color: #ffffff;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

div.footer_media_container {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    /* align-items: flex-end; */
    /* vertical-align: text-bottom; */
    height: auto;
}

div.fb_icon,
div.twi_icon,
div.ig_icon,
div.yt_icon,
div.pin_icon {
    /* border: 1px solid wheat; */
    height: auto;
    width: auto;
}

div.fb_icon > img,
div.twi_icon > img,
div.ig_icon > img,
div.yt_icon > img,
div.pin_icon > img {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

div.footer_bac_container {
    /* border: 1px solid paleturquoise; */
    /* width: 33%; */
    /* height: 100%; */
    display: flex;
    align-self: center;
}

div.footer_bac_pic {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

div.footer_bac_pic > img {
    /* border: 1px solid paleturquoise; */
    width: 50%;
    height: auto;
}
