* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #60a41dd5;
    /* background-image: url(/images/index/Hoptimum-Bottle.png); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/* uilit */
ul {
    padding: 0;
}
*+ul {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    section.products {
        height: 750px;
    }
    div.product_pic {
        width: 50%;
    }
    div.product_content {
        width: 50%;
    }
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }
    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 400px;
    }
    div.footer_bac_pic > img {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    section.products {
        height: 750px;
    }
    div.product_pic {
        width: 50%;
    }
    div.product_content {
        width: 50%;
    }
    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        width: 100%;
    }
    div.footer_openhour_container {
        display: flex;
        flex-direction: column;
        width: 34%;
    }

    div.openhour_title {
        height: 35%;
    }
    div.openhour {
        height: 65%;
    }
    div.footer_middle {
        width: 33%;
    }
    div.footer_bac_container {
        width: 34%;
        height: 300px;
    }
    div.footer_bac_pic > img {
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }   
    section.products {
        height: 950px;
    }
    div.product_container {
        flex-direction: column;
        align-items: center;
    }
    div.product_pic {
        width: 80%;
    }
    div.product_content {
        width: 80%;
    }

    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }
    div.product_container {
        width: 95%;
        flex-direction: column-reverse;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 400px; */
        width: 100%;
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        padding: 10px;
    }
    div.openhour_title {
        height: 45%;
    }
    div.openhour {
        height: 55%;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (max-width: 575px) {
    .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        /* margin: 5px; */
        border-radius: 2px;
        transform: rotate(0deg);
        transition: .4s ease;
    }
    .line:nth-child(1){
        top: 0;
    }
    .line:nth-child(2),
    .line:nth-child(3){
        top: 50%;
    }
    .line:nth-child(4){
        top: 100%;
    }
    
    .hamburger.on .line:nth-child(1),
    .hamburger.on .line:nth-child(4){
        top: 50%;
        width: 0%;
        left: 50%;
    }
    .hamburger.on .line:nth-child(2){
        transform: rotate(45deg);
    }
    .hamburger.on .line:nth-child(3){
        transform: rotate(-45deg);
    }
    nav {
        position: relative;
        height: 10vh;
        flex-direction: row;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%) ;
        z-index: 3;
    }
    .nav_links {
        position: fixed;
        background: #22201f;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 120% -10%);
        -webkit-clip-path: circle(50px at 120% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav_links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .nav_links li {
        opacity: 0;
    }
    .nav_links li a{
        font-size: 25px;
    }
    .nav_links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav_links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav_links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav_links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav_links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    .nav_links li:nth-child(6){
        transition: all 0.5s ease 0.7s;
    }
    li.fade {
        opacity: 1;
    }
    div.product_container {
        width: 95%;
        flex-direction: column-reverse;
    }
    div.product_pic > img {
        width: 100%;
        height: auto;
    }
    div.product_content {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* height: 1000px; */
        align-items: center;
    }
    div.footer_openhour_container {
        width: 70%;
        height: 40%;
        padding: 10px;
    }
    div.footer_middle {
        width: 70%;
        padding: 70px 10px;
    }
    div.footer_bac_container {
        width: 350px;
        height: 300px;
    }
    div.footer_bac_pic > img {
        padding: 10px;
        width: 200px;
        height: 300px;
    }
}
/*logo & nav*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav {
    height: 90px;
    background: #60a41d;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.logo {
    /* border: 1px solid blue; */
    width: 30%;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.logo a {
    text-decoration: none;
}
.logo img {
    /* border: 1px solid red; */
    font-family: 'Modak', cursive;
    color: #60a41d;
    font-size: 70px;
    font-weight: 100;
    min-width: 200px;
    max-width: 200px;
    /* height: 8vh; */
    /* position: relative; */
    /* padding-top: 1vh; */
    -webkit-text-stroke: 3.5px #22201f;
    padding-left: 5%;
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}
.nav_links {
    /* border: 1px solid red; */
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-top: 5px;
}
.nav_links li a{
    /* border: 1px solid white; */
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 700;
}
.hamburger {
    width: 30px;
    height: 20px;
    position: relative;
}


main {
    position: relative;
    top: 90px;
}

/*first*/
section.promo {
    width: 100%;
    height: 750px;
    background-color: transparent;
}
section > div.promo_container {
    /* border: 1px solid white; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

div.promo_pic > a {
    /* border: 1px solid white; */
    display: flex;
    z-index: 1;
    background-color: transparent;
    height: 750px;
}

div.promo_content {
    display: flex;
    position: absolute;
    /* border: 1px solid tomato; */
    /* top: 150px;
    left: 370px; */
    background-color: transparent;
    z-index: 2;
}

section > div.promo_container > div.promo_content > h2.animate__fadeInUp {
    animation-duration: 3s;
}

div.promo_content > h2 {
    color: #fff;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 90px;
    line-height: 75px;
    letter-spacing: 7px;
    text-align: center;
    background-color: transparent;
    display: flex;
    position: relative;
    top: 50px;
    /* justify-self: center;
    align-self: center; */
}

/*secend products*/
section.products {
    /* border: 1px solid black; */
    display: flex;
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
    font-size: 0;
    justify-content: center;
    align-content: center;
}

div.product_container {
    /* border: 1px solid violet; */
    position: relative;
    display: flex;
    /* align-content: center; */
    width: 85%;
}
/*hoptimum*/
div.product_pic {
    /* border: 1px solid blue; */
    background-color: white;
    display: flex;
    align-self: center;
}
div.product_pic > img {
    /* height: 650px;
    width: 650px;
    position: relative;
    left: 50px; */
}

div.product_content {
    /* border: 1px solid black; */
    position: relative;
    /* background-color: white; */
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.product_container > div.product_content > h4 {
    /* border: 1px solid tomato; */
    /* background-color: white; */
    /* display: inline-block; */
    width: 100%;
    height: auto;
    color: #60a41d;
    font-size: 88px;
    line-height: 90px;
    text-align: center;
    /* vertical-align: center; */
    position: absolute;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    /* top: 120px; */
    /* left: 150px; */
    /* height: 583px; */
}

/*third - onTap*/
section.ontap {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    /* display: inline-block; */
    position: relative;
    height: 750px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

div.ontap_container {
    /* border: 1px solid rgb(105, 105, 189); */
    display: flex;
    background: #22201f;
    /* font-family: "Baloo Tammudu 2", cursive; */
    position: relative;
    width: 85%;
    height: 85%;
    top: 100px;
    bottom: 0;
    /* justify-content: center; */
    align-items: flex-end;
}

div.ontap_title {
    /* border: 1px solid tomato; */
    align-self: flex-start;
    left: 0;
}

div.ontap_title > h2 {
    background: #22201f;
    /* border: 1px solid orange; */
    color: white;
    font-size: 78px;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
}

div.ontap_list {
    /* border: 1px solid red; */
    /* display: flex; */
    color: white;
    position: absolute;
    width: 100%;
    height: 75%;
}

div.ontap_names {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

div.ontap_name {
    /* border: 1px solid white; */
    /* background-color: #c2602f; */
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    width: 25%;
    height: 60px;
}

div.ontap_details {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

div.p1 > a,
div.p2 > a,
div.p3 > a,
div.p4 > a,
div.p5 > a,
div.p6 > a,
div.p7 > a,
div.p8 > a,
div.p9 > a {
    color: #fff;
}

div.hoptimum {
    display: flex;
    position: relative;
    width: 25%;
}

div.people_power {
    display: flex;
    position: relative;
    width: 25%;
}

div.dare_to_know {
    display: flex;
    position: relative;
    width: 25%;
}

div.hop_bullet {
    display: flex;
    position: relative;
    width: 25%;
}

div.imperial_stuout {
    display: flex;
    position: relative;
    width: 25%;
}

div.dragonstooth {
    display: flex;
    position: relative;
    width: 25%;
}

div.urban_lager {
    display: flex;
    position: relative;
    width: 25%;
}

div.space_dust {
    display: flex;
    position: relative;
    width: 25%;
}

div.relax {
    display: flex;
    position: relative;
    width: 25%;
}

div.ontap_style {
    /* border: 1px solid rgb(197, 111, 30); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.123); */
    /* background-color: #c2602f; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
    height: 80px;
}

div.ontap_divide {
    /* border: 1px solid rgb(32, 185, 78); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.123); */
    /* background-color: #c2602f; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    /* font-style: italic; */
    height: 90px;
}

div.ontap_abv {
    /* border: 1px solid rgb(118, 99, 221); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.123); */
    /* background-color: #c2602f; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
    height: 110px;
}

/*four - taproom*/
section.taproom {
    /* border: 1px solid blue; */
    background-color: white;
    width: 100%;
    /* display: inline-block; */
    position: relative;
    height: 650px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

div.taproom_container {
    /* border: 1px solid red; */
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
}

div.taproom_content {
    /* border: 1px solid turquoise; */
    justify-content: space-between;
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
}

div.taproom_content > h4 {
    /* border: 1px solid red; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
    height: 30%;
}

div.taproom_content > p {
    /* border: 1px solid black; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    height: 60%;
}

div.taproom_btn {
    align-self: flex-start;
    justify-self: end;
    border: 1px solid #60a41d;
}

div.taproom_btn > input {
    border: 0;
    background-color: #60a41d;
    color: #ffffff;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

div.taproom_pic {
    /* border: 1px solid rgb(214, 164, 25); */
    width: 60%;
    /* height: 100%; */
}

div.taproom_pic > img {
    /* border: 1px solid rgb(8, 7, 4); */
    width: 100%;
    /* height: auto; */
}

/*fifth - brewery*/
section.brewery {
    /* border: 1px solid blue; */
    background-color: white;
    width: 100%;
    /* display: inline-block; */
    position: relative;
    height: 650px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

div.brewery_container {
    /* border: 1px solid blue; */
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.brewery_content {
    /* border: 1px solid turquoise; */
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
}

div.brewery_content > h4 {
    /* border: 1px solid orange; */
    height: 30%;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
}

div.brewery_content > p {
    /* border: 1px solid olivedrab; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    height: 60%;
}

div.brewery_btn {
    align-self: flex-start;
    justify-self: end;
    border: 1px solid #60a41d;
}

div.brewery_btn > input {
    border: 0;
    background-color: #60a41d;
    color: #ffffff;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

div.brewery_pic {
    /* border: 1px solid rgb(214, 164, 25); */
    width: 60%;
    /* padding-left: 25px; */
    /* justify-self: flex-end; */
}

div.brewery_pic > img {
    /* border: 1px solid rgb(16, 68, 71); */
    width: 100%;
    /* justify-self: flex-end; */
}

/*about*/
section.about {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    /* display: inline-block; */
    position: relative;
    height: 100vh;
    z-index: 1;
}

div.about_container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/index/hops.jpg") no-repeat center center;
    background-size: cover;
    /* position: relative; */
    /* font-weight: bold;
    font-size: 100px;
    text-align: center;
    font-family: "Baloo Tammudu 2", cursive;
    line-height: 80px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}
div.about_layer {
    /* border: 1px solid rgb(42, 136, 54); */
    background: rgba(124, 124, 124, 0.7);
    width: 100%;
    height: 100%;
    /* font-weight: bold;
    font-size: 100px;
    text-align: center;
    font-family: "Baloo Tammudu 2", cursive;
    line-height: 80px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

div.about_wrap {
    /* border: 1px solid tomato; */
    display: inline-block;
    width: 100%;
    height: auto;
    background: url("../images/index/hops.jpg") no-repeat center center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 120px;
    -webkit-text-stroke: 3px #22201f5e;
    text-align: center;
    line-height: 120px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 25%;
    left: 0;
    /* top: 150px; */
}

div.about_wrap > a {
    color: transparent;
    text-decoration: none;
}

div.about_plus {
    /* border: 1px solid #22201f; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 72px;
    display: flex;
    /* width: 360px;
    height: 360px; */
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*shop*/
section.shop {
    /* border: 1px solid blue; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* display: inline-block; */
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

div.shop_container {
    position: absolute;
    width: 85%;
    height: 100%;
    /* border: 1px solid orangered; */
    display: flex;
}

div.shop_content {
    position: relative;
    /* border: 1px solid black; */
    width: 100%;
    height: 80%;
    text-align: center;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
}

div.shop_content > h4 {
    /* border: 1px solid yellow; */
    color: #60a41d;
    font-size: 170px;
    line-height: 170px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
}

div.shop_pic {
    position: absolute;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.shop_pic > img {
    /* border: 1px solid purple; */
    position: relative;
    width: 25%;
    height: auto;
}

/*footer*/
footer {
    /* border: 1px solid blue; */
    background-color: #22201f;
    width: 100%;
    /* min-width: 1300px; */
    /* display: flex; */
    position: relative;
    /* height: 400px; */
    /* top: 100px; */
    z-index: 1;
    color: white;
    top: 90px;
}

div.footer_openhour_container {
    /* border: 1px solid greenyellow; */
    /* width: 33%; */
    display: flex;
    flex-direction: column;
}

div.openhour_title {
    /* border: 1px solid turquoise; */
    width: 100%;
    /* height: 45%; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

div.openhour_title > h6 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

div.openhour {
    /* border: 1px solid pink; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /* height: 55%; */
}

div.footer_middle {
    /* border: 1px solid orangered; */
    /* width: 34%; */
    display: flex;
    flex-direction: column;
    /* height: 400px; */
}

div.footer_slogan_container {
    /* border: 1px solid rgb(30, 27, 212); */
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

div.footer_slogan_container > h4 {
    /* border: 1px solid white; */
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 900;
    color: #ffffff;
    font-size: 48px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

div.footer_media_container {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    /* align-items: flex-end; */
    /* vertical-align: text-bottom; */
    height: auto;
}

div.fb_icon,
div.twi_icon,
div.ig_icon,
div.yt_icon,
div.pin_icon {
    /* border: 1px solid wheat; */
    height: auto;
    width: auto;
}

div.fb_icon > img,
div.twi_icon > img,
div.ig_icon > img,
div.yt_icon > img,
div.pin_icon > img {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

div.footer_bac_container {
    /* border: 1px solid paleturquoise; */
    /* width: 33%; */
    /* height: 100%; */
    display: flex;
    align-self: center;
}

div.footer_bac_pic {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

div.footer_bac_pic > img {
    /* border: 1px solid paleturquoise; */
    width: 50%;
    height: auto;
}
